answer-box {
    .bottom-box {
        text-align: right;
        padding-right: 10px;

        ion-icon {
            color: #2ec95c;
            font-size: 24px;
            margin: 6px;
            border: 1px solid #2ec95c;
            padding: 4px 10px;
            border-radius: 50%;
        }
    }
}
