<div class="menu-left">
  	<ion-list>
    	<ion-item class="header-menu">
      		<p class="username">Me</p>
      		<div class="information">
      			<span class="level float-left">Level 1</span>
      			<div class="progress float-left">
      				<p class="title">0 exp</p>
      				<div class="progress-task"></div>      				
      			</div>
            <p class="level-number float-left">2</p>
      		</div>
    	</ion-item>
    	<ion-item class="menu-item" (click)="goLogin()" menuClose>
    		<ion-icon name="md-exit"></ion-icon>
      		<span class="title-menu">Login</span>
    	</ion-item>
    	<ion-item class="menu-item" (click)="goOurApps()" menuClose>
    		<ion-icon name="md-apps"></ion-icon>
      		<span class="title-menu">Our App</span>
    	</ion-item>
    	<ion-item class="menu-item" (click)="goFeedback()" menuClose>
    		<ion-icon name="md-chatboxes"></ion-icon>
      		<span class="title-menu">Feedback</span>
    	</ion-item>
    	<ion-item class="menu-item" (click)="goSetting()" menuClose>
    		<ion-icon name="md-settings"></ion-icon>
      		<span class="title-menu">Setting</span>
    	</ion-item>

    	<!-- <p class="sub-title">Related Apps</p>

    	<ion-item class="menu-item menu-sub">
    		<ion-icon name="ios-bookmarks-outline"></ion-icon>
      		<span>Setting</span>
    	</ion-item>
    	<ion-item class="menu-item menu-sub">
    		<ion-icon name="ios-bookmarks-outline"></ion-icon>
      		<span>Setting</span>
    	</ion-item>
    	<ion-item class="menu-item menu-sub">
    		<ion-icon name="ios-bookmarks-outline"></ion-icon>
      		<span>Setting</span>
    	</ion-item> -->
  	</ion-list>
</div>