<ion-content>
	<div class="chart">
		
	</div>
	<ion-list>
		<ion-item>
			<p>Total answers: 0 questions</p>
			<p>All the questions that you already answered</p>
		</ion-item>
		<ion-item>
			<p>Correct answers: 0 questions</p>
			<p>All the questions that you already correctly</p>
		</ion-item>
		<ion-item>
			<p>Incorrect answers: 0 questions</p>
			<p>All the questions that you already incorrectly</p>
		</ion-item>
		<ion-item>
			<p>Book-marks: 0 questions</p>
			<p>All the questions you bookmarked during your study/practice</p>
		</ion-item>
	</ion-list>
</ion-content>
