<ion-content>
	<ion-list>
		<ion-item>
		    <ion-avatar item-left>
		      	<img src="img/avatar-cher.png">
		      	<p>Writing: 0%</p>
		    </ion-avatar>
		    <h2>Total answers: 0</h2>
		    <p>Correct answers: 0</p>
		    <p>Incorrect answers: 0</p>
		</ion-item>
		<ion-item>
		    <ion-avatar item-left>
		      	<img src="img/avatar-cher.png">
		      	<p>Writing: 0%</p>
		    </ion-avatar>
		    <h2>Total answers: 0</h2>
		    <p>Correct answers: 0</p>
		    <p>Incorrect answers: 0</p>
		</ion-item>
		<ion-item>
		    <ion-avatar item-left>
		      	<img src="img/avatar-cher.png">
		      	<p>Writing: 0%</p>
		    </ion-avatar>
		    <h2>Total answers: 0</h2>
		    <p>Correct answers: 0</p>
		    <p>Incorrect answers: 0</p>
		</ion-item>
		<ion-item>
		    <ion-avatar item-left>
		      	<img src="img/avatar-cher.png">
		      	<p>Writing: 0%</p>
		    </ion-avatar>
		    <h2>Total answers: 0</h2>
		    <p>Correct answers: 0</p>
		    <p>Incorrect answers: 0</p>
		</ion-item>
	</ion-list>
</ion-content>
