<div class="profile-user">	
	<div class="avatar">
		<img src="assets/image/avatar.png" />
	</div>

	<div class="information">
		<table>
			<tr>
				<td class="total">
					<p class="title">Total Score</p>
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="total">
					<p class="score">750</p>
				</td>
				<td class="sub">
					<p class="title">Listening</p>
					<p class="score">540</p>
				</td>
				<td class="sub">
					<p class="title">Reading</p>
					<p class="score">210</p>
				</td>
			</tr>
		</table>		
	</div>	
</div>